@model BookingLibrary.UI.DTOs.EditBookRepositoryDTO
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Book Repository</h2>

<section>
    @using (Html.BeginForm("Edit", "Book", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(p => p.BookId)
        <div class="form-group">
            <label for="tenantName" class="col-md-2 control-label">Book Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.BookName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-md-2 control-label">ISBN</label>
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.ISBN, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-md-2 control-label">Date Issued</label>
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.DateIssued, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly="readonly" })
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-md-2 control-label">Description</label>
            <div class="col-md-10">
                @Html.TextAreaFor(p => p.Description, new { @style = "max-width: 100%", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="保存" />
            <input type="button" class="btn btn-default" value="返回" onclick="window.location='@Url.Action("List", "Book")'" />
        </div>

    }
</section>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#DateIssued").datepicker({ dateFormat: "yy-mm-dd" });
        });
    </script>
}