@model Library.UI.DTOs.AddCustomerDTO
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Book</h2>

<section>
    @using (Html.BeginForm("Add", "Customer", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <label for="tenantName" class="col-md-2 control-label">First Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-md-2 control-label">Middle Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.MiddleName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="tenantName" class="col-md-2 control-label">Last Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-md-2 control-label">User Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="tenantName" class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
                @Html.PasswordFor(p => p.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-default" value="Save" id="btnSave" />
            <input type="button" class="btn btn-default" value="Return" onclick="window.location='@Url.Action("List", "Customer")'" />
        </div>

    }
</section>

@section header{

}

@section scripts{
    <script type="text/javascript">
        var currentCommandUnqiueId = null;

        $(function () {
            $.connection.hub.url = "@(ConfigurationManager.AppSettings["signalRUrl"])/signalr";
            $.connection.hub.logging = true;
            var command = $.connection.commandHub;

            command.client.success = function (commandUniqueId) {

                if (commandUniqueId == currentCommandUnqiueId) {
                    hideMask();
                    alert('Create successfully.');
                    command.server.removeCommand(currentCommandUnqiueId);
                    window.location = '@Url.Action("List", "Customer")';
                }
            };

            command.client.failure = function (commandUniqueId, errorCode, errorMessage) {
                if (commandUniqueId == currentCommandUnqiueId) {
                    alert(errorMessage);
                    hideMask();
                }
            };

            $.connection.hub.start().done(function () {
                console.log("Connected.");
            });


            $('#btnSave').click(function () {
                showMask();

                $.ajax({
                    url: '',
                    data: { FirstName: $('#FirstName').val(), MiddleName: $('#MiddleName').val(), LastName: $('#LastName').val(), UserName: $('#UserName').val(), Password: $('#Password').val() },
                    type: 'POST',
                    success: function (data) {

                        if (data && data.commandUnqiueId) {
                           currentCommandUnqiueId = data.commandUnqiueId;
                        }

                        //hideMask();
                    },
                    error: function () {
                        hideMask();
                    }
                });
            });
        });
    </script>
}